@import "mixins.scss";

$branding-purple: #8455f5;
$branding-yellow: #fbca5f;

h1, h2, h3, h4, h5, h6 {
	font-family: "marydale" , sans-serif;
	padding: 0 ;
	margin: 0 ;
}

ul {
	z-index:50;
	padding:0;
	margin:0;
}

li {
	font-size:14px;
	z-index:50;
	margin:0;
	padding:0;
}

a {
	outline:0;
	transition: all 0.5s ease;
	&:hover {
		outline:0;
		text-decoration:none;
	}
	&:focus {
		outline:0;
		text-decoration:none;
	}
	&:active{
		outline:0;
		text-decoration:none;
	}
}

p {
	font-size:14px;
	line-height:2em;
	margin:0;
	padding:0;
	z-index:50;
}

input {
	transition: all 0.5s ease;
	&:focus {
		outline:none;
	}
}

.wrapper {
	position:relative;
	padding:15px;
	margin:0 auto;
	max-width:1560px;
}

.custom-button {
	font-family: "marydale" , sans-serif;
	background-image: linear-gradient(to right, $branding-yellow 0%, $branding-purple 100%);
	box-sizing: border-box;
	color: #00a84f;
	display: block;
	height: 80px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;
	&:hover {
		color: #fff;
		span {
			background:transparent;
		}
	}
	span {
		align-items: center;
		background: #e7e8e9;
		display: flex;
		justify-content: center;
		height: 100%;
		transition: all 0.5s ease;
		width: 100%;
	}
}